*.log
**/*.swp
**//.vscode/*
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/terraform.tfvars.json
**/*.tfvars
**/*.box
**/main.tf
gitlab-actions-runner/.env
k8s-bootstrap/main.tf

