{% for i in range(vm.get('count',1)) %}
{% set vm_name = vm ~ "-" ~ (i+1) %}
resource "virtualbox_vm" "{{ vm_name }}" {
  name   = "{{ vm_name }}"
  image  = "{{ vm.image }}"
  cpus   = {{ vm.cpus }}
  memory = "{{ vm.memory }}"

  {% for disk in vm.additional_disks %}
  hard_drive {
    size       = "{{ disk.size }}"
    type       = "{{ disk.type }}"
    mountpoint = "{{ disk.mountpoint }}"
  }
  {% endfor %}

  {% for adapter in vm.network_adapters %}
  network_adapter {
    type   = "{{ adapter.type }}"
    device = "{{ adapter.device }}"
  }
  {% endfor %}

  provisioner "file" {
    source      = "{{ ssh_key }}"
    destination = "~/.ssh/authorized_keys"
  }
}

output "{{ vm_name }}_ip" {
  value = virtualbox_vm.{{ vm_name }}.network_adapter.0.ipv4_address
}
{% endfor %}
